<% if !@article.nil? %>
  <% @title=@article.title %>
  <h1><%= @article.title %></h1>
  <% @article.objections.each do |objection| %>
    <div class="statement"><%= objection.statement %></div>
  <% end %>
  <p class="contrary"><%= @article.contrary %></p>
  <p class="answer"><%= @article.answer %></p>
  <% @article.objections.each do |objection| %>
    <div class="reply"><%= objection.reply %></div>
  <% end %>
<% end %>
