<% if !@article.nil? %>
  <div class="container">
    <% @title=@article.title %>
    <div class="title"><%= @article.title %></div>
    <div class="section-title">Objections</div>
    <% @article.objections.each do |objection| %>
        <div class="statement"><%= objection.statement %></div>
    <% end %>
    <div class="section-title">Answer</div>
    <div class="contrary"><%= @article.contrary %></div>
    <div class="answer"><%= @article.answer %></div>
    <div class="section-title">Replies</div>
    <% @article.objections.each do |objection| %>
        <div class="reply"><%= objection.reply %></div>
    <% end %>
  </div>
<% end %>
