<% if !@article.nil? %>
  <div class="container">
    <% @title=@article.title + " - Summa Explorer" %>
    <div class="title"><%= @article.title %></div>
    <div class="section-title">Objections</div>
    <% @article.objections.each do |objection| %>
      <div class="statement">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <%= objection.statement %>
      </div>
    <% end %>
    <div class="section-title">Answer</div>
    <% if !@article.contrary.nil? %>
      <div class="contrary">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        <%= @article.contrary %>
      </div>
    <% end %>
    <div class="answer">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <%= @article.answer.html_safe %>
     </div>
     <% if @article.objections.any? {|o| !o.reply.nil?} %>
      <div class="section-title">Replies</div>
      <% @article.objections.each do |objection| %>
        <% if !objection.reply.nil? %>
          <div class="statement">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <%= objection.statement %>
          </div>
          <div class="reply">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <%= objection.reply %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="section-title">Context</div>
    <% if !@next.nil? %>
      <div class="context">
        Next: <%= link_to @next.title, @next %>
      </div>
    <% end %>
    <% if !@previous.nil? %>
      <div class="context">
        Previous: <%= link_to @previous.title, @previous %>
      </div>
    <% end %>
    <div class="context">
      Part: <%= link_to @article.context.part.title,
        @article.context.part %> - <%= @context_in_part %>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped"
        role="progressbar" style="width: <%= @percent_in_part %>%;">
      </div>
    </div>
    <div class="context">
      Treatise: <%= link_to @article.context.treatise.title,
        @article.context.treatise %> - <%= @context_in_treatise %>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar" style="width: <%= @percent_in_treatise %>%;">
      </div>
    </div>
    <div class="context">
      Question: <%= link_to @article.context.question.title,
        @article.context.question %> - <%= @context_in_question %>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped"
        role="progressbar" style="width: <%= @percent_in_question %>%;">
      </div>
    </div>
  </div>
<% end %>
