<% if !@article.nil? %>
  <% @title=@article.title %>
  <div class="title"><%= @article.title %></div>
  <% @article.objections.each do |objection| %>
    <div class="statement"><%= objection.statement %></div>
  <% end %>
  <div class="contrary"><%= @article.contrary %></div>
  <div class="answer"><%= @article.answer %></div>
  <% @article.objections.each do |objection| %>
    <div class="reply"><%= objection.reply %></div>
  <% end %>
<% end %>
