<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/sticky-footer.css" rel="stylesheet">
</head>
<body>

<%= yield %>

<div class="footer">
  <div class="container">
    <p class="normal-text">
      <a href="/">Home</a> | <a href="/about">About</a> | <a href="/code">Code</a> | <a href="/browse">Summa</a>
    </p>
  </div>
</div>
</body>
</html>
